java_home: /usr/lib/java
# See Oracle Java SE checksums page here: https://www.oracle.com/webfolder/s/digest/8u202checksum.html
# Use /usr/local & /Library/Java/JavaVirtualMachines for MacOS: https://support.apple.com/en-ie/HT204899

java:
  ## override Formula default version ##
  release: '8'
  major: '0'
  minor: '202'
  build: ''    ##needed by oracle otn url (i.e. '-b13' for j8u202-b13 url)
  dirhash: ''  ##needed by oracle otn url (i.e. '1961070e4c9b4e26a04e7f5a083f551e' for j8u202 url)

  ## detials for CA certificates installation
  cacert_keystore_password: 'changeit' ## passwort for keystore (default changeit)
  cacert_keystore: jre_lib_sec + '/cacerts' ## location of store for ca serts
  keytool_cmd: java_real_home + '/bin/keytool' ## location of keytool
  cacert: ## list of certs to install
    - alias: own-ca-cert-1 ## CA alias
      source: https://my-ca.com/cert.crt ## location on CA cert (for file.managed)
      source_hash: ## optional source hash on downloads
      fingeprint: 49:72:74:18:6A:54:91:19:12:BF:09:BD:F6:F1:67:E7:30:47:3E:88 ## Fingerptint for CA cert (needed to get information if it is already installed)
    - alias: own-ca-cert-2
      source: salt://own-ca-cert-2
      fingeprint: 49:72:74:18:6A:54:91:19:12:BF:09:BD:F6:F1:67:E7:30:47:3E:89
      

  ## tarball details
  prefix: /usr/share/java       # ``prefix/version_name`` contains unpacked tarball content
  version_name: jdk1.8.0_202    # JDK; value must match top-level directory inside the tarball
  #version_name: jre1.8.0_202   # JRE; value must match top-level directory inside the tarball

  ## JDK linux ##
  source_url: http://download.example.com/jdk-8u202-linux-x64.tar.gz       ## can be internal (non-oracle) url
  source_hash: sha256=9a5c32411a6a06e22b69c495b7975034409fa1652d03aeb8eb5b6f59fd4594e0

  ## or JDK macos ##
  # source_url: http://download.example.com/jdk-8u202-macosx-x64.dmg       ## can be internal (non-oracle) url
  # source_hash: sha256=b41367948cf99ca0b8d1571f116b7e3e322dd1ebdfd4d390e959164d75b97c20

  ## or JRE linux ##
  # source_url: http://download.example.com/jre-8u202-linux-x64.tar.gz       ## can be internal (non-oracle) url
  # source_hash: sha256=9efb1493fcf636e39c94f47bacf4f4324821df2d3aeea2dc3ea1bdc86428cb82

  ## or JRE macos ##
  # source_url: http://download.oracle.com/jre-8u202-macosx-x64.dmg       ## can be internal (non-oracle) url
  # source_hash: sha256=a11f6b4f952470fc2cf03abd34c66cbd770902a053f3f868369ae8886c5986f4

  ## and JCE ##
  jce_url: http://download.oracle.com/otn-pub/java/jce/8/jce_policy-8.zip
  jce_hash: sha256=f3020a3922efd6626c2fff45695d527f34a8020e938a49292561f18ad1320b59

  ## Other overrides ##
  java_symlink: /usr/bin/java
  javac_symlink: /usr/bin/javac
  dl_opts: -b oraclelicense=accept-securebackup-cookie -L -s     ## needed by oracle otn url
  archive_type: tar

  ## Linux alternatives
  #alt_priority: 301800111         ## value must change for all subsequent formula run

